.601_690 { 
	overflow:hidden;
}
.e601_690 { 
	background-color:rgba(244.0000006556511, 243.00000071525574, 240.00000089406967, 1);
	width:1152px;
	height:2299px;
	position:absolute;
}
.e601_966 { 
	width:197.4036102294922px;
	height:12.966426849365234px;
	position:absolute;
	left:949.7676391601562px;
	top:4.128446578979492px;
}
.e601_967 { 
	width:83.04999542236328px;
	height:9.724821090698242px;
	position:absolute;
	left:0px;
	top:1.6208468675613403px;
}
.e601_968 { 
	width:12.521424293518066px;
	height:8.64428424835205px;
	position:absolute;
	left:0.000052519342716550454px;
	top:1.0805602073669434px;
}
.ei601_968_33_137 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:2.0869040489196777px;
	top:3.2416067123413086px;
}
.i601_968_33_138 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei601_968_33_138 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:0px;
	top:0px;
}
.e601_969 { 
	width:12.521424293518066px;
	height:8.64428424835205px;
	position:absolute;
	left:53.215476989746094px;
	top:1.0805602073669434px;
}
.ei601_969_33_137 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:2.0869040489196777px;
	top:3.2416067123413086px;
}
.i601_969_33_138 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei601_969_33_138 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:0px;
	top:0px;
}
.e601_970 { 
	width:12.521330833435059px;
	height:8.644287109375px;
	position:absolute;
	left:70.52871704101562px;
	top:0.00002576271435827948px;
}
.ei601_970_33_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.478082656860352px;
	height:3.7818760871887207px;
	position:absolute;
	left:3.5216224193573px;
	top:0.5402679443359375px;
}
.ei601_970_33_197 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.825831413269043px;
	height:3.241607666015625px;
	position:absolute;
	left:2.3477494716644287px;
	top:4.8624114990234375px;
}
.e601_971 { 
	width:12.521424293518066px;
	height:8.644286155700684px;
	position:absolute;
	left:148.72349548339844px;
	top:2.701381206512451px;
}
.ei601_971_35_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.439671516418457px;
	height:6.6506500244140625px;
	position:absolute;
	left:1.037194013595581px;
	top:0.9944268465042114px;
}
.e601_972 { 
	width:18.78209114074707px;
	height:12.966426849365234px;
	position:absolute;
	left:178.62152099609375px;
	top:0px;
}
.ei601_972_32_124 { 
	width:13.694318771362305px;
	height:9.454686164855957px;
	position:absolute;
	left:1.9564677476882935px;
	top:1.8909372091293335px;
}
.ei601_972_32_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.694318771362305px;
	height:6.7522664070129395px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei601_972_32_126 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.1303486824035645px;
	height:2.1610708236694336px;
	position:absolute;
	left:3.5216422080993652px;
	top:7.293614864349365px;
}
.ei601_972_32_127 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.1303491592407227px;
	height:2.1610708236694336px;
	position:absolute;
	left:8.999752044677734px;
	top:7.293614864349365px;
}
.e601_986 { 
	color:rgba(255, 255, 255, 1);
	width:27px;
	height:9px;
	position:absolute;
	left:923px;
	top:7px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e601_987 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:9px;
	position:absolute;
	left:1049px;
	top:7px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e601_988 { 
	width:197.4036102294922px;
	height:12.966426849365234px;
	position:absolute;
	left:949.7676391601562px;
	top:4.128446578979492px;
}
.e601_989 { 
	width:83.04999542236328px;
	height:9.724821090698242px;
	position:absolute;
	left:0px;
	top:1.6208468675613403px;
}
.e601_990 { 
	width:12.521424293518066px;
	height:8.64428424835205px;
	position:absolute;
	left:0.000052519342716550454px;
	top:1.0805602073669434px;
}
.ei601_990_33_137 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:2.0869040489196777px;
	top:3.2416067123413086px;
}
.i601_990_33_138 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei601_990_33_138 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:0px;
	top:0px;
}
.e601_991 { 
	width:12.521424293518066px;
	height:8.64428424835205px;
	position:absolute;
	left:53.215476989746094px;
	top:1.0805602073669434px;
}
.ei601_991_33_137 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:2.0869040489196777px;
	top:3.2416067123413086px;
}
.i601_991_33_138 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei601_991_33_138 { 
	width:8.347616195678711px;
	height:2.881427764892578px;
	position:absolute;
	left:0px;
	top:0px;
}
.e601_992 { 
	width:12.521330833435059px;
	height:8.644287109375px;
	position:absolute;
	left:70.52871704101562px;
	top:0.00002576271435827948px;
}
.ei601_992_33_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.478082656860352px;
	height:3.7818760871887207px;
	position:absolute;
	left:3.5216224193573px;
	top:0.5402679443359375px;
}
.ei601_992_33_197 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.825831413269043px;
	height:3.241607666015625px;
	position:absolute;
	left:2.3477494716644287px;
	top:4.8624114990234375px;
}
.e601_993 { 
	width:12.521424293518066px;
	height:8.644286155700684px;
	position:absolute;
	left:148.72349548339844px;
	top:2.701381206512451px;
}
.ei601_993_35_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.439671516418457px;
	height:6.6506500244140625px;
	position:absolute;
	left:1.037194013595581px;
	top:0.9944268465042114px;
}
.e601_994 { 
	width:18.78209114074707px;
	height:12.966426849365234px;
	position:absolute;
	left:178.62152099609375px;
	top:0px;
}
.ei601_994_32_124 { 
	width:13.694318771362305px;
	height:9.454686164855957px;
	position:absolute;
	left:1.9564677476882935px;
	top:1.8909372091293335px;
}
.ei601_994_32_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.694318771362305px;
	height:6.7522664070129395px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei601_994_32_126 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.1303486824035645px;
	height:2.1610708236694336px;
	position:absolute;
	left:3.5216422080993652px;
	top:7.293614864349365px;
}
.ei601_994_32_127 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.1303491592407227px;
	height:2.1610708236694336px;
	position:absolute;
	left:8.999752044677734px;
	top:7.293614864349365px;
}
.e599_728 { 
	width:2090px;
	height:404px;
	position:absolute;
	left:184px;
	top:338px;
	background-image: url(images/capture_d_e_cran_2021_09_29_a__21_46_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e599_728 img {
	width:290px;
	height:404px;
}

.e599_729 { 
	color:rgba(93.50000202655792, 93.50000202655792, 93.50000202655792, 1);
	width:364px;
	height:64px;
	position:relative;
	left:427px;
	top:125px;
	font-family:Arapey;
	text-align:left;
	font-size:64px;
	letter-spacing:1.5;
}
.e599_730 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:417.17578125px;
	top:343.1298828125px;
}
.e599_731 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_732 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:55px;
	letter-spacing:1.5;
}
.e599_733 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:657px;
	top:357px;
}
.e599_734 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_735 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_736 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:474px;
	top:721px;
}
.e599_737 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_738 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:23px;
	letter-spacing:1.5;
}
.e599_739 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:624px;
	top:721px;
}
.e599_740 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_741 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:23px;
	letter-spacing:1.5;
}
.e599_742 { 
	width:358.490234375px;
	height:82.75048828125px;
	position:absolute;
	left:674px;
	top:573px;
}
.e599_743 { 
	width:358.490234375px;
	height:82.75048828125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_744 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:358.490234375px;
	height:82.75048828125px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_745 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:625px;
	top:406px;
}
.e599_746 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_747 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_748 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:657px;
	top:405px;
}
.e599_749 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_750 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:35px;
	letter-spacing:1.5;
}
.e599_751 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:690px;
	top:406px;
}
.e599_752 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_753 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_754 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:148px;
	height:19px;
	position:absolute;
	left:526px;
	top:411px;
	font-family:Arapey;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}
.e599_755 { 
	color:rgba(255, 255, 255, 1);
	width:147px;
	height:19px;
	position:absolute;
	left:742px;
	top:1586px;
	font-family:Arapey;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e599_756 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:816px;
	height:507px;
	position:absolute;
	left:150px;
	top:295px;
}
.599_756 { 
	border:1px solid rgba(10.625000316649675, 0.4427085444331169, 0.4427085444331169, 1);
}
.e599_757 { 
	transform: rotate(-0.13257930679381089deg);
	width:404.39697265625px;
	height:0px;
	position:absolute;
	left:525.0948486328125px;
	top:532.282470703125px;
}
.599_757 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_758 { 
	transform: rotate(-90deg);
	width:114.00000762939453px;
	height:0px;
	position:absolute;
	left:771px;
	top:646px;
}
.599_758 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_759 { 
	transform: rotate(-90deg);
	width:22.000001907348633px;
	height:0px;
	position:absolute;
	left:690px;
	top:747px;
}
.599_759 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_760 { 
	transform: rotate(-0.13257930679381089deg);
	width:404.39697265625px;
	height:0px;
	position:absolute;
	left:525.0948486328125px;
	top:647.0924072265625px;
}
.599_760 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_761 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:67px;
	height:9px;
	position:absolute;
	left:531px;
	top:559px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e599_762 { 
	width:120.47265625px;
	height:36.40315628051758px;
	position:absolute;
	left:640px;
	top:559px;
}
.e599_763 { 
	width:120.47265625px;
	height:36.40315628051758px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_764 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:120.47265625px;
	height:36.40315628051758px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:left;
	font-size:15px;
	letter-spacing:1.5;
}
.e599_765 { 
	border-radius:500px;
	background-color:rgba(121.00000038743019, 2.000000118277967, 25.000000409781933, 1);
	width:21px;
	height:22px;
	position:absolute;
	left:657px;
	top:590px;
}
.e599_766 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:67px;
	height:10px;
	position:absolute;
	left:786px;
	top:560px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e599_800 { 
	border-radius:500px;
	background-color:rgba(50.000000819563866, 29.000000171363354, 22.000000588595867, 1);
	width:21px;
	height:22px;
	position:absolute;
	left:655px;
	top:1162px;
}
.e599_802 { 
	width:290px;
	height:404px;
	position:absolute;
	left:184px;
	top:918px;
	background-image:url(images/capture_d_e_cran_2021_09_29_a__21_05_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e599_802 img{
	width:290px;
	height:404px;
}

.e599_803 { 
	background-color:rgba(29.000000171363354, 57.00000040233135, 88.00000235438347, 1);
	width:890px;
	height:302px;
	position:absolute;
	left:103px;
	top:1530px;
}
.e599_804 { 
	color:rgba(255, 255, 255, 1);
	width:314px;
	height:67px;
	position:absolute;
	left:98px;
	top:1599px;
	font-family:Arapey;
	text-align:center;
	font-size:45px;
	letter-spacing:1.5;
}
.e599_805 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:40px;
	position:absolute;
	left:140px;
	top:1676px;
	font-family:Arapey;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e599_806 { 
	background-color:rgba(255, 251.81250303983688, 251.81250303983688, 0.7400000095367432);
	width:297px;
	height:98px;
	position:absolute;
	left:636px;
	top:1615px;
}
.e599_807 { 
	color:rgba(0, 0, 0, 1);
	width:251px;
	height:87px;
	position:absolute;
	left:663px;
	top:1626px;
	font-family:Arapey;
	text-align:center;
	font-size:55px;
	letter-spacing:1.5;
}
.e599_1169 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:417.17578125px;
	top:916.1298828125px;
}
.e599_1170 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1171 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:55px;
	letter-spacing:1.5;
}
.e599_1172 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:657px;
	top:930px;
}
.e599_1173 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1174 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_1175 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:474px;
	top:1294px;
}
.e599_1176 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1177 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:23px;
	letter-spacing:1.5;
}
.e599_1178 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:624px;
	top:1294px;
}
.e599_1179 { 
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1180 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:247.3668212890625px;
	height:51.80449295043945px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:23px;
	letter-spacing:1.5;
}
.e599_1181 { 
	width:358.490234375px;
	height:82.75048828125px;
	position:absolute;
	left:674px;
	top:1146px;
}
.e599_1182 { 
	width:358.490234375px;
	height:82.75048828125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1183 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:358.490234375px;
	height:82.75048828125px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_1184 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:625px;
	top:979px;
}
.e599_1185 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1186 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_1187 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:657px;
	top:978px;
}
.e599_1188 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1189 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:35px;
	letter-spacing:1.5;
}
.e599_1190 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:690px;
	top:979px;
}
.e599_1191 { 
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1192 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:382.56976318359375px;
	height:79.80692291259766px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:center;
	font-size:30px;
	letter-spacing:1.5;
}
.e599_1193 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:148px;
	height:19px;
	position:absolute;
	left:526px;
	top:984px;
	font-family:Arapey;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}
.e599_1194 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:816px;
	height:507px;
	position:absolute;
	left:150px;
	top:868px;
}
.599_1194 { 
	border:1px solid rgba(10.625000316649675, 0.4427085444331169, 0.4427085444331169, 1);
}
.e599_1195 { 
	transform: rotate(-0.13257930679381089deg);
	width:404.39697265625px;
	height:0px;
	position:absolute;
	left:525.095703125px;
	top:1105.282470703125px;
}
.599_1195 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_1196 { 
	transform: rotate(-90deg);
	width:114.00000762939453px;
	height:0px;
	position:absolute;
	left:771px;
	top:1219px;
}
.599_1196 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_1197 { 
	transform: rotate(-90deg);
	width:22.000001907348633px;
	height:0px;
	position:absolute;
	left:690px;
	top:1320px;
}
.599_1197 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_1198 { 
	transform: rotate(-0.13257930679381089deg);
	width:404.39697265625px;
	height:0px;
	position:absolute;
	left:525.095703125px;
	top:1220.0924072265625px;
}
.599_1198 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e599_1199 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:67px;
	height:9px;
	position:absolute;
	left:531px;
	top:1132px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e599_1200 { 
	width:120.47265625px;
	height:36.40315628051758px;
	position:absolute;
	left:615px;
	top:1133px;
}
.e599_1201 { 
	width:120.47265625px;
	height:36.40315628051758px;
	position:absolute;
	left:0px;
	top:0px;
}
.e599_1202 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:120.47265625px;
	height:36.40315628051758px;
	position:relative;
	left:0px;
	top:0px;
	font-family:Arapey;
	text-align:left;
	font-size:15px;
	letter-spacing:1.5;
}
.e599_1203 { 
	color:rgba(150.87499290704727, 121.82834073901176, 84.23853859305382, 1);
	width:67px;
	height:10px;
	position:absolute;
	left:786px;
	top:1133px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding-right: 30px;
  padding-left: 150px;
  background-color: rgba(0, 0, 0, 0.31);
  text-decoration: none;
}

.nav-bar input {
    background: transparent;
    background-image: url("../../images/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
    border: 1px solid white;
      text-decoration: none;
}

.nav-bar ul {
  list-style: none;
  display: flex;
    text-decoration: none;
}

.nav-bar h5 a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
    text-decoration: none;
}

.nav-bar h5 a:hover {
  color: #B18F63;
    text-decoration: none;
}


.nav-bar ul li {
  margin-right: 20px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
  color: #B18F63;
    text-decoration: none;
}

.nav-bar ul li a {
  color: white;
  font-weight: lighter;
    text-decoration: none;
}


